<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina UESC</title>
    <link rel="stylesheet" href="app.component.css">    
</head>

<body>
    <header class="logo-uesc">
        <img src="../assets/Logo UESC.jpg" id="logo-uesc" alt="Brasão Universidade Estadual de Santa Cruz" width="150px">
        <h1>Universidade Estadual de Santa Cruz</h1>
    </header>

    <main>
        <div class="firstgrid">
            <section class="menu">
                <header class="cabecalhomenu">
                    <h3> Menu </h3>
                </header>

                <ul>
                    <li><a>Centro e Grupo de Pesquisas</a></li>
                    <li><a>Núcleos</a></li>
                    <li><a>Projetos</a></li>
                    <li><a>Protocolo Digital</a></li>
                </ul>
            </section>

            <section class="noticias">
                <header class="cabecalhonoticias">
                    <h3> Notícias </h3>
                </header>

                <ul>
                    <li><a>Cursos de Graduação da Uesc entre os Melhores do Brasil</a></li>
                    <li><a>Eleição para Reitor e Vice da Uesc Terá Chapa Única</a></li>
                    <li><a>Uesc Sobe no Ranking de Melhores Universidades do Brasil</a></li>
                </ul>
            </section>

            <section class="destaque">
                <header class="cabecalhodestaque">
                    <h3> Destaques </h3>
                </header>

                <ul>
                    <img src="../assets/outrosanovazul.jpg" id="img1" alt="img1" width="150px">
                    <img src="../assets/uescenglish.jpg" id="img2" alt="img2" width="150px">
                </ul>
            </section>
        </div>

        <div class="secondgrid">
            <section class="servicos">
                <header class="cabecalhoservicos">
                    <h3> Serviços </h3>
                </header>

                <ul>
                    <li><a>Auditório</a></li>
                    <li><a>Biblioteca</a></li>
                    <li><a>Portal Acadêmico</a></li>
                </ul>
            </section>

            <section class="resultados">
                <header class="cabecalhoresultados">
                    <h3> Resultados </h3>
                </header>

                <ul>
                    <li><a>Seleção Professor Visitante DCEX</a></li>
                    <li><a>Pós-Graduacao Economia Regional e Políticas Públicas</a></li>
                    <li><a>Pós-graduação em Ciências da Saúde</a></li>
                </ul>
            </section>
        </div>
    </main>

    <footer>
        <h3>&copy; 2023 Desenvolvido por Tiago Senger. Todos os direitos reservados.</h3>
    </footer>
    
</body>
</html>
