* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#caixa-externa{
    background-color: brown;
}


.caixa {
    background-color: blue;
    padding: 10px;
    color:white;
}


.caixa-interna{
    background-color: red;
    padding: 1px;
}

.texto-branco{
    color:white;
}

p{
    color:gold;
}